/*
@TODO:
1 - accept a single color for the primary.
2 - calculate a left and a right analogous color for accents.
3 - calculate a complimentary color for CTAs
4 - set gray scale ramp using CanvasText to auto
    switch from black to white depending on dark or light mode

*/


:root {
  /* utils */
  --accent-angle: 12.25;

  --primary: #039ec5;
  --base: CanvasText;

  --secondary: hsl(from var(--primary) calc(h + 180) s l);
  --accent1  : hsl(from var(--primary) calc(h + var(--accent-angle)) s calc(l + 2));
  --accent2  : hsl(from var(--primary) calc(h - var(--accent-angle)) s calc(l + 2));


  /* override calculated colors with static */
  /*
    --base: rebeccapurple;
    --secondary: #b720e9;
    --accent1: #003FC5;
    --accent2: #00C5B3;
  */
}


:root {
  --primary-hover         : hsl(from var(--primary) h calc(s + 5) calc(l + 7));
  --primary-active        : hsl(from var(--primary) h calc(s + 5) calc(l - 7));
  --primary-muted         : hsl(from var(--primary) h s l / 30%);
  --primary-muted-active  : hsl(from var(--primary) h calc(s + 5) calc(l - 7) / 30%);
  --primary-muted-hover   : hsl(from var(--primary) h calc(s + 5) calc(l + 7) / 30%);

  --secondary-hover       : hsl(from var(--secondary) h calc(s + 10) calc(l + 7));
  --secondary-active      : hsl(from var(--secondary) h calc(s + 10) calc(l - 7));
  --secondary-muted       : hsl(from var(--secondary) h s l / 30%);
  --secondary-muted-hover : hsl(from var(--secondary) h calc(s + 10) calc(l + 7) / 30%);
  --secondary-muted-active: hsl(from var(--secondary) h calc(s + 10) calc(l - 7) / 30%);

  --accent1-active        : hsl(from var(--accent1) h calc(s + 8) calc(l - 5));
  --accent2-hover         : hsl(from var(--accent2) h calc(s + 8) calc(l + 5));
  --accent2-active        : hsl(from var(--accent2) h calc(s + 8) calc(l - 5));
  --accent1-hover         : hsl(from var(--accent1) h calc(s + 8) calc(l + 5));




  --base-000: rgb(from var(--base) r g b / 0);
  --base-025: rgb(from var(--base) r g b / 2.5%);
  --base-050: rgb(from var(--base) r g b / 5%);
  --base-075: rgb(from var(--base) r g b / 7.5%);
  --base-100: rgb(from var(--base) r g b / 10%);
  --base-150: rgb(from var(--base) r g b / 15%);
  --base-200: rgb(from var(--base) r g b / 20%);
  --base-250: rgb(from var(--base) r g b / 25%);
  --base-300: rgb(from var(--base) r g b / 30%);
  --base-350: rgb(from var(--base) r g b / 35%);
  --base-400: rgb(from var(--base) r g b / 40%);
  --base-450: rgb(from var(--base) r g b / 45%);
  --base-500: rgb(from var(--base) r g b / 50%);
  --base-550: rgb(from var(--base) r g b / 55%);
  --base-600: rgb(from var(--base) r g b / 60%);
  --base-650: rgb(from var(--base) r g b / 65%);
  --base-700: rgb(from var(--base) r g b / 70%);
  --base-750: rgb(from var(--base) r g b / 75%);
  --base-800: rgb(from var(--base) r g b / 80%);
  --base-850: rgb(from var(--base) r g b / 85%);
  --base-900: rgb(from var(--base) r g b / 90%);
  --base-950: rgb(from var(--base) r g b / 95%);
  --base-999: rgb(from var(--base) r g b / 1);


  @media (prefers-color-scheme: dark) {
    /* --base: #0070FF;
    --accent1  : hsl(from var(--primary) calc(h + 122.25) s calc(l + 2)); */

  }


}


