button {
  --bkg : var(--primary);
  --bkg-hover : var(--primary-hover);
  --bkg-active : var(--primary-active);
  --border: var(--bkg);
  --box-shadow: 0 .25em .75em rgb(from var(--bkg) r g b / 80%);

  background-color: var(--bkg);
  background-clip: padding-box;
  color: white;
  padding: .5em 1.5em;
  -webkit-appearance: none;
  appearance: none;
  border-radius: .5em;
  border: 2px solid var(--border);
  box-shadow: var(--box-shadow);

  transition: .2s;

  &.-muted {
    /* --bkg : var(--primary-muted); */
    background-color: hsl(from var(--bkg) h s l / 30%);

    --bkg-hover : hsl(from var(--bkg) h calc(s + 5) calc(l + 7) / 30%);
    --bkg-active : var(--primary-muted-active);
    --border: hsl(from var(--bkg) h s l / 70%);
    --box-shadow: none;

    color: CanvasText;

    &:hover,
    &:active {
      /* --border: var(--base-500); */
      --border: hsl(from var(--bkg) h calc(s + 10) l);
      --box-shadow: none;
    }
  }

  &.-secondary {
  --bkg : var(--secondary);
  --bkg-hover : var(--secondary-hover);
  --bkg-active : var(--secondary-active);

    &.-muted {
      /* --bkg : var(--secondary-muted); */
      --bkg-hover : var(--secondary-muted-hover);
      --bkg-active : var(--secondary-muted-active);
    }
  }

  &.-accent1 {
    --bkg: var(--accent1);
    --bkg-hover : var(--accent1-hover);
    --bkg-active : var(--accent1-active);
  }

  &.-accent2 {
    --bkg: var(--accent2);
    --bkg-hover : var(--accent2-hover);
    --bkg-active : var(--accent2-active);
  }


  &:hover {
    background-color: var(--bkg-hover);
    --border: var(--bkg-hover);
    --box-shadow: 0 .25em 1.25em rgb(from var(--bkg-hover) r g b / 95%);
  }

  &:active {
    background-color: var(--bkg-active);
    --border: var(--bkg-active);
    --box-shadow: 0 .15em .5em rgb(from var(--bkg-active) r g b / 95%);
  }

  &:focus-visible {
    outline: 2px solid var(--base-700);
    outline-offset: .25em;
  }
}



label:has(+ input[type="text"]) {
  color: var(--base-600);
}



